.dice-pane {
    width: calc(285px + 3em);
    max-width: 100%;
    margin: 0 auto 1em;
    padding: 1em 1.5em;
}
.roll-buttons-container {
    width: 100%;
}
.roll-controls {
    margin: 5px 0 10px;
}
.roll-button {
    width: 53.5px;
    /* height: 40px; */
}
.custom-roll-val {
    width: 60px !important;
    /* height: 40px; */
}
.alert {
    padding: .5em !important;
    text-align: center;
    height: 42px;
    width: 100%;
    margin: auto !important;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: hidden;
    white-space: nowrap;
}