.dice-pane {
    width: 270px;
    max-width: 100%;
    margin: auto
}
.roll-buttons-container {
    width: 100%;
}
.dice-image-container {
    width: 50px !important;
}
.roll-controls {
    margin: 5px 0 10px;
}
.roll-button {
    width: 53.75px;
    /* height: 40px; */
}
.custom-roll-val {
    width: 60px !important;
    /* height: 40px; */
}
.alert {
    padding: .5em !important;
    text-align: center;
    height: 42px;
    width: 100%;
    margin: auto !important;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    overflow: hidden;
    white-space: nowrap;
}