$dpanel: 285px + 48px;
$cell: 10px + $dpanel;
$scr1: 10px + $cell;
$scr2: $scr1 + $cell;
$scr3: $scr2 + $cell;
$scr4: $scr3 + $cell;
$scr5: $scr4 + $cell;
$scr6: $scr5 + $cell;

/* ultra thin screen */
@media screen and (max-width: $scr1) {
	#dice-wrapper {
		margin: 0 !important;
	}
	.roller-ui {
		padding: 0 !important;
	}
	:root {
		--100-width: calc(285px + 48px);
	}
}

/* very small screen */
@media screen and (max-width: $scr2) {
	#d4 {
		grid-column: 1;
		grid-row: 1;
	}
	#d6 {
		grid-column: 1;
		grid-row: 2;
	}
	#d8 {
		grid-column: 1;
		grid-row: 3;
	}
	#d10 {
		grid-column: 1;
		grid-row: 4;
	}
	#d12 {
		grid-column: 1;
		grid-row: 5;
	}
	#d20 {
		grid-column: 1;
		grid-row: 6;
	}
	#dice-wrapper {
		grid-template-columns: repeat(1, 1fr) !important;
	}
}

/* small screen */
@media screen and (min-width: $scr2) and (max-width: $scr3) {
	#d4 {
		grid-column: 1;
		grid-row: 1;
	}
	#d6 {
		grid-column: 2;
		grid-row: 1;
	}
	#d8 {
		grid-column: 1;
		grid-row: 2;
	}
	#d10 {
		grid-column: 2;
		grid-row: 2;
	}
	#d12 {
		grid-column: 1;
		grid-row: 3;
	}
	#d20 {
		grid-column: 2;
		grid-row: 3;
	}
	#dice-wrapper {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

/* medium screen */
@media screen and (min-width: $scr3) and (max-width: $scr4) {
	#d4 {
		grid-column: 1;
		grid-row: 1;
	}
	#d6 {
		grid-column: 2;
		grid-row: 1;
	}
	#d8 {
		grid-column: 3;
		grid-row: 1;
	}
	#d10 {
		grid-column: 1;
		grid-row: 2;
	}
	#d12 {
		grid-column: 2;
		grid-row: 2;
	}
	#d20 {
		grid-column: 3;
		grid-row: 2;
	}
	#dice-wrapper {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

/* large screen */
@media screen and (min-width: $scr4) and (max-width: $scr5) {
	#d4 {
		grid-column: 1;
		grid-row: 1;
	}
	#d6 {
		grid-column: 2;
		grid-row: 1;
	}
	#d8 {
		grid-column: 3;
		grid-row: 1;
	}
	#d10 {
		grid-column: 4;
		grid-row: 1;
	}
	#d12 {
		grid-column: 2;
		grid-row: 2;
	}
	#d20 {
		grid-column: 3;
		grid-row: 2;
	}
	#dice-wrapper {
		grid-template-columns: repeat(4, 1fr) !important;
	}
}

/* very large screen */
@media screen and (min-width: $scr5) and (max-width: $scr6) {
	#d4 {
		grid-column: 1;
		grid-row: 1;
	}
	#d6 {
		grid-column: 2;
		grid-row: 1;
	}
	#d8 {
		grid-column: 3;
		grid-row: 1;
	}
	#d10 {
		grid-column: 4;
		grid-row: 1;
	}
	#d12 {
		grid-column: 5;
		grid-row: 1;
	}
	#d20 {
		grid-column: 3;
		grid-row: 2;
	}
	#dice-wrapper {
		grid-template-columns: repeat(5, 1fr) !important;
	}
}

/* very, very large screen */
@media screen and (min-width: $scr6) {
	#d4 {
		grid-column: 1;
		grid-row: 1;
	}
	#d6 {
		grid-column: 2;
		grid-row: 1;
	}
	#d8 {
		grid-column: 3;
		grid-row: 1;
	}
	#d10 {
		grid-column: 4;
		grid-row: 1;
	}
	#d12 {
		grid-column: 5;
		grid-row: 1;
	}
	#d20 {
		grid-column: 6;
		grid-row: 1;
	}
	#dice-wrapper {
		grid-template-columns: repeat(6, 1fr) !important;
	}
}

#dice-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	// margin: 10px;
	grid-auto-rows: auto;
}
