.roll-history {
    padding: 1em;
    margin: auto;
    max-height: 500px;
    max-width: 800px;
    overflow-y: scroll;
    width: var(--100-width);
    color: var(--text);
}

.roll-table {
    color: var(--text) !important;
}

.table-roll {
    white-space: nowrap;
    width:90%;
}