@use '../../variables' as v;

.roll-history {
    padding: 1em;
    margin: 10px auto auto auto;
    max-height: 500px;
    max-width: 800px;
    overflow-y: auto;
    width: 100%;
    color: var(--text);

    transition: v.$theme-transition
}

.roll-table {
    color: var(--text) !important;

    transition: v.$theme-transition
}

.table-roll {
    white-space: nowrap;
    width: 90%;
}