$tr-sec: 0.4s;
$alert-display-sec: 0.15s;

$theme-transition: color $tr-sec ease-in-out, background-color $tr-sec ease-in-out, border-color $tr-sec ease-in-out, box-shadow $tr-sec ease-in-out, outline $tr-sec ease-in-out,
	border $tr-sec ease-in-out, stroke $tr-sec ease-in-out, fill $tr-sec ease-in-out, opacity $alert-display-sec linear;

$display-width: 100%;

$bg-dark-main: #121212;
$bg-light-main: #fff;
$bg-light-header: #e1dfe3;

$theme-anim-size: 43px;
$theme-anim-color-size: 24px;

$bg-anim-color-light: rgba(18, 18, 18, 0.8);

$primary-blue: #0d6efd;
$primary-pink: #f25b86;
$primary-blue-dark: rgb(27, 138, 212);
$primary-pink-dark: rgb(215, 84, 163);

@mixin light-theme($app-state) {
	@include blue;

	--input-border-size: 1px;
	--bg-main: #fff;
	--bg-header: #e1dfe3;
	--outline-header: var(--bg-header);
	--bg-cell: rgb(252, 252, 252);
	--bg-input: #e9ecef;
	--outline: rgb(200, 200, 200);
	--text: rgb(0, 0, 0);
	--text-med-em: var(--text);
	--text-low-em: #212529;
	--pure-color: #fff;
	--theme-anim: rgba(18, 18, 18, 0.8);

	@if $app-state == 'startup' {
		transition: none;
	} @else {
		transition: $theme-transition;
	}
}

@mixin dark-theme($app-state) {
	@include blue-dark;

	--input-border-size: 2px;
	--bg-main: #121212;
	--bg-header: var(--bg-main);
	--outline-header: #2d2d30;
	--bg-cell: rgba(45, 45, 48, 0.4);
	--bg-input: #2d2d30;
	--outline: #121212;
	--text: rgba(255, 255, 255, 0.87);
	--text-med-em: rgba(255, 255, 255, 0.6);
	--text-low-em: rgba(255, 255, 255, 0.38);
	--pure-color: #121212;
	--theme-anim: rgba(170, 179, 186);

	@if $app-state == 'startup' {
		transition: none;
	} @else {
		transition: $theme-transition;
	}
}

@mixin theme-color($theme-color) {
	@if $theme-color == 'pink' {
		@include pink;
	} @else if $theme-color == 'blue-dark' {
		@include blue-dark;
	} @else if $theme-color == 'pink-dark' {
		@include pink-dark;
	} @else {
		@include blue;
	}

	transition: $theme-transition;
}

@mixin pink {
	--primary: #dd285b;
	--primary-hover: #b7103f;
	--primary-other: #ae274d;
	--primary-focus-shadow: 242, 111, 148;
	--alert-color: var(--primary-other);
	--alert-shadow: 242, 111, 148, 0.28;
	--alert-outline: 242, 111, 148, 0.4;
}
@mixin blue {
	--primary: #066aff;
	--primary-hover: #0b5ed7;
	--primary-other: #0a58ca;
	--primary-focus-shadow: 49, 132, 253;
	--alert-color: var(--primary-other);
	--alert-shadow: 49, 132, 253, 0.28;
	--alert-outline: 49, 132, 253, 0.4;
}
@mixin blue-dark {
	--primary: rgb(27, 138, 212);
	--primary-hover: rgb(29, 160, 248);
	--primary-other: var(--primary);
	--primary-focus-shadow: 0, 122, 204;
	--alert-color: var(--primary);
	--alert-shadow: none;
	--alert-outline: var(--primary-focus-shadow);
}
@mixin pink-dark {
	--primary: rgb(215, 84, 163);
	--primary-hover: rgb(211, 80, 159);
	--primary-other: var(--primary);
	--primary-focus-shadow: 204, 59, 146;
	--alert-color: var(--primary);
	--alert-shadow: none;
	--alert-outline: var(--primary-focus-shadow);

	// color palette:
	// color: rgb(255, 206, 234);
	// color: rgb(241, 152, 204);
	// color: rgb(255, 142, 210);
	// color: rgb(204, 59, 146);
	// color: rgb(160, 51, 117);
	// color: rgb(83, 0, 49);
}

@mixin override-bootstrap {
	.btn-primary {
		--bs-btn-color: var(--pure-color) !important;
		--bs-btn-bg: var(--primary) !important;
		--bs-btn-border-color: var(--primary) !important;
		--bs-btn-hover-color: var(--pure-color) !important;
		--bs-btn-hover-bg: var(--primary-hover) !important;
		--bs-btn-hover-border-color: var(--primary-other) !important;
		--bs-btn-focus-shadow-rgb: var(--primary-focus-shadow) !important;
		--bs-btn-active-color: var(--pure-color) !important;
		--bs-btn-active-bg: var(--primary-other) !important;
		--bs-btn-active-border-color: var(--primary-other) !important;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
		--bs-btn-disabled-color: var(--pure-color) !important;
		--bs-btn-disabled-bg: var(--primary) !important;
		--bs-btn-disabled-border-color: var(--primary) !important;

		transition: $theme-transition !important;
	}
	.btn-outline-primary {
		--bs-btn-color: var(--primary) !important;
		--bs-btn-border-color: var(--primary) !important;
		--bs-btn-hover-color: var(--pure-color) !important;
		--bs-btn-hover-bg: var(--primary) !important;
		--bs-btn-hover-border-color: var(--primary) !important;
		--bs-btn-focus-shadow-rgb: var(--primary) !important;
		--bs-btn-active-color: var(--pure-color) !important;
		--bs-btn-active-bg: var(--primary) !important;
		--bs-btn-active-border-color: var(--primary) !important;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
		--bs-btn-disabled-color: var(--primary) !important;
		--bs-btn-disabled-bg: transparent !important;
		--bs-btn-disabled-border-color: var(--primary) !important;
		--bs-gradient: none !important;

		transition: $theme-transition !important;
	}
	.alert-info {
		--bs-alert-color: var(--alert-color) !important;
		--bs-alert-bg: rgba(var(--alert-shadow)) !important;
		--bs-alert-border-color: rgba(var(--alert-outline)) !important;

		transition: $theme-transition !important;
	}
	.input-group-text {
		color: var(--text-med-em) !important;
		white-space: nowrap;
		background-color: var(--bg-input) !important;
		border: var(--input-border-size) solid var(--outline) !important;

		transition: $theme-transition !important;
	}
	.form-control {
		background-color: var(--pure-color) !important;
		color: var(--text-med-em) !important;
		border: var(--input-border-size) solid var(--outline) !important;

		transition: $theme-transition !important;
	}
	.form-control:focus {
		border-color: var(--primary) !important;
		box-shadow: 0 0 0 0.2rem rgba(var(--primary-focus-shadow), 0.5) !important;
	}
}
