header {
  background-color: #282c34;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;

  position: absolute;
  top:0;
  height: 50px;
  width: 100% !important;
  z-index:100;

  overflow: hidden;
  white-space: nowrap;
}

header h1 {
  margin: 0 .5em 0;
  font-size: calc(50px - 1.5em);
}

.roller-ui {
  margin-top: 60px !important;
  padding:10px;
}

footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100% !important;

  background-color: #282c34;
  color: white;
  text-align: center;
  padding: .5em 0;

  overflow: hidden;
  white-space: nowrap;
}